@media screen and (max-width: 567px) {
    html {
        font-size: 25%;
    }

    body {
        width: 100%;
    }

    .website-design-pcw .hero-coh .rectangle-1-HD1 {
        border: none;
    }

    .website-design-pcw .hero-coh .frame-1-bUb {
        display: none;
    }

    .website-design-pcw .hero-coh .h1-copy-2p7 {
        position: relative;
    }

}