* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  /* width: 172.8rem; */
  width: 100%;
  font-family: General Sans,
    'Source Sans Pro';
  font-size: calc(15px + 0.390625vw);
}

.website-design {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.hero-coh {
  width: 100%;
  height: 100vh;
  background-color: #14104b;
}

@media screen and (max-width:567px) {
  .website-design .hero-coh {
    height: auto;
  }
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.frame-1-bUb {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: solid 0.35rem #ffffff;
  padding: 2rem;
}

.auto-group-vdcb-fzF {
  box-sizing: border-box;
  padding: 0.9rem 6.7rem 0.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.group-1-7rF {
  margin-right: 5rem;
  width: 5.9rem;
  border-radius: 0.4rem;
  border-bottom-width: 4.5rem;
  border-bottom-style: 2px solid #ea789d;
}

/* color: #e9779d; */

.resume a {
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #ea789d;
  box-sizing: border-box;
  border-radius: 1.2rem;
  flex-shrink: 0;
  text-decoration: none;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

@media screen and (max-width: 567px) {
  .website-design .hero-coh .home-content {
    flex-direction: column;
    padding: 4rem;
    gap: 2.5rem;
  }
}

.image_frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.website-design .hero-coh .dedicated-team-abstract-concept-vector-illustration107173-28611-1-tAs {
  width: 15rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 0 3.5233rem 0 3.5233rem;
}

.gray {
  color: #8088a5;
}

.white {
  color: #ffffff;
}

.nowrap {
  white-space: nowrap;
}

.website-design .hero-coh .h1-copy-2p7 {
  width: 100%;
  height: auto;

  font-weight: 700;
  line-height: 1.2575;
}

.website-design .hero-coh .effect-ecX {
  width: 12.8549rem;
  height: 12.8rem;
  position: absolute;
  left: 83rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .hero-coh .frame-3-BcT {
  padding-top: 0.2413rem;
  width: 3rem;
  height: 47.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.website-design .hero-coh .frame-3-BcT .bxl-upwork-t15,
.website-design .hero-coh .frame-3-BcT .mdi-github-QEK,
.website-design .hero-coh .frame-3-BcT .ic-baseline-facebook-uRy,
.website-design .hero-coh .frame-3-BcT .mdi-twitter-1ju,
.website-design .hero-coh .frame-3-BcT .mdi-linkedin-8pX {
  margin: 0rem 0rem 4.5rem 0.004rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.follow-me {
  margin-right: 0.2rem;
  max-width: 2.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: Familiar Pro, 'Source Sans Pro';
}

.website-design .icon-features-y4T {
  padding: 5.1rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.35rem #ffffff;
  background-color: #1f1a59;
  font-weight: 600;
  line-height: 1.2575;
  color: #ffffff;
  flex-direction: row;
}

@media screen and (max-width:567px) {
  .website-design .icon-features-y4T {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}

.website-design .icon-features-y4T .client-benefits-U1D p {
  text-shadow: 3px 3px 5px hsla(0, 0%, 20%, 0.9);
  font-weight: bold;
  line-height: 1.2575;
}

.website-design .icon-features-y4T .icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.website-design .icon-features-y4T .auto-group-sic7-cQF .top {
  color: #ffffff;
  font-family: Familiar Pro, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .icon-features-y4T .icon-img {
  margin: 0rem 2rem 0.2rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}



.website-design .what-i-give-EEb {
  width: 100%;
  height: 137.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #14104b;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 {
  margin: 0rem 5.575rem 7.25rem 0rem;
  width: 66.1255rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 {
  width: 100%;
  height: 54.9rem;
  position: relative;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 .featured-card-3C3 {
  width: 52.7255rem;
  height: 38.1rem;
  position: absolute;
  left: 4.1rem;
  top: 16.8rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1.8317rem 3.6635rem rgba(0, 0, 0, 0.5);
  background-color: #2c2f48;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/featured-card-bg-U6K.png');
  border-radius: 3.6635rem;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 .featured-card-3C3 .rectangle-5-kcF {
  width: 52.7255rem;
  height: 26.0555rem;
  position: absolute;
  left: 0;
  top: 12.0445rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 .featured-card-3C3 .profile-2Zm {
  width: 5.8615rem;
  height: 5.8615rem;
  position: absolute;
  left: 23.4272rem;
  top: 10.9904rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.7327rem;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 .featured-card-3C3 .title-Y2K {
  width: 17.9rem;
  height: 4.1rem;
  position: absolute;
  left: 1.8435rem;
  top: 19.7827rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 .featured-card-3C3 .description-eb9 {
  width: 47.7rem;
  height: 9.7rem;
  position: absolute;
  left: 1.8435rem;
  top: 25.3794rem;
  font-size: 1.928rem;
  font-weight: 500;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.5500000119);
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-ar5m-ta3 .ellipse-3-H8K {
  width: 36.5rem;
  height: 36.5rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(19.1732rem);
  background-color: rgba(234, 120, 157, 0.3000000119);
  border-radius: 18.25rem;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo {
  box-sizing: border-box;
  padding: 4.1rem 0rem 0rem 13.387rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-88w {
  margin: 0rem 0rem 3.05rem 0.013rem;
  width: calc(100% - 0.0127rem);
  height: 38.1rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1.8317rem 3.6635rem rgba(0, 0, 0, 0.5);
  background-color: #2c2f48;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/featured-card-bg-p9D.png');
  border-radius: 3.6635rem;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-88w .rectangle-5-cZu {
  width: 52.7255rem;
  height: 26.0555rem;
  position: absolute;
  left: 0;
  top: 12.0445rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-88w .profile-A5d {
  width: 5.8615rem;
  height: 5.8615rem;
  position: absolute;
  left: 23.4272rem;
  top: 10.9904rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.7327rem;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-88w .title-V7u {
  width: 17.5rem;
  height: 4.1rem;
  position: absolute;
  left: 1.8435rem;
  top: 19.7827rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-88w .description-CY7 {
  width: 47.8rem;
  height: 7.3rem;
  position: absolute;
  left: 1.8127rem;
  top: 25.3827rem;
  font-size: 1.928rem;
  font-weight: 500;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.5500000119);
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-p3h {
  margin-right: 0.0127rem;
  width: calc(100% - 0.0127rem);
  height: 38.1rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1.8317rem 3.6635rem rgba(0, 0, 0, 0.5);
  background-color: #2c2f48;
  background-size: 108.392% 100%;
  background-position: -2.2911rem -3.7666rem;
  background-image: url('../assets/featured-card-bg-J3q.png');
  border-radius: 3.6635rem;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-p3h .rectangle-5-JzT {
  width: 52.7255rem;
  height: 26.0555rem;
  position: absolute;
  left: 0;
  top: 12.0445rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-p3h .profile-4Cw {
  width: 5.8615rem;
  height: 5.8615rem;
  position: absolute;
  left: 23.4272rem;
  top: 10.9904rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.7327rem;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-p3h .title-nej {
  width: 18.3rem;
  height: 4.1rem;
  position: absolute;
  left: 2.5127rem;
  top: 20.15rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-p3h .description-W4w {
  width: 48.3rem;
  height: 9.7rem;
  position: absolute;
  left: 2.5127rem;
  top: 25.75rem;
  font-size: 1.928rem;
  font-weight: 500;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.5500000119);
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .what-i-give-EEb .auto-group-rizj-Ae3 .auto-group-o9q9-beo .featured-card-p3h .featured-card-p3h-bg {
  width: 52.7255rem;
  height: 38.1rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:76aa561f7ccf2dee1030223a27f8d6311918a5d1');
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB {
  margin: 29.2rem 4.2rem 26.3rem 0rem;
  width: 54.1rem;
  height: calc(100% - 55.5rem);
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .featured-card-nRm {
  margin-bottom: 0.2rem;
  width: 52.7255rem;
  height: 38.1rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1.8317rem 3.6635rem rgba(0, 0, 0, 0.5);
  background-color: #2c2f48;
  background-size: 108.581% 100%;
  background-position: -3.3344rem -10.5063rem;
  background-image: url('../assets/featured-card-bg.png');
  border-radius: 3.6635rem;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .featured-card-nRm .rectangle-5-8Ej {
  width: 52.7255rem;
  height: 26.0555rem;
  position: absolute;
  left: 0rem;
  top: 12.0445rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .featured-card-nRm .profile-fkT {
  width: 5.8615rem;
  height: 5.8615rem;
  position: absolute;
  left: 23.4272rem;
  top: 10.9904rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.7327rem;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .featured-card-nRm .title-QT9 {
  width: 20.7rem;
  height: 4.1rem;
  position: absolute;
  left: 1.6127rem;
  top: 20.05rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .featured-card-nRm .description-J2j {
  width: 49.5rem;
  height: 9.7rem;
  position: absolute;
  left: 1.6127rem;
  top: 25.65rem;
  font-size: 1.928rem;
  font-weight: 500;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.5500000119);
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .featured-card-nRm .featured-card-nRm-bg {
  width: 52.7255rem;
  height: 38.1rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:c6814bf0c6533bcdb931154f8cddc263e587635b');
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ {
  width: 100%;
  height: 43.4rem;
  position: relative;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ .featured-card-CnK {
  width: 52.7255rem;
  height: 38.1rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1.8317rem 3.6635rem rgba(0, 0, 0, 0.5);
  background-color: #2c2f48;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/featured-card-bg-N6b.png');
  border-radius: 3.6635rem;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ .featured-card-CnK .rectangle-5-k39 {
  width: 52.7255rem;
  height: 26.0555rem;
  position: absolute;
  left: 0rem;
  top: 12.0445rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ .featured-card-CnK .profile-ghV {
  width: 5.8615rem;
  height: 5.8615rem;
  position: absolute;
  left: 23.4272rem;
  top: 10.9904rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.7327rem;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ .featured-card-CnK .title-bJf {
  width: 16.9rem;
  height: 4.1rem;
  position: absolute;
  left: 1.8127rem;
  top: 19.05rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ .featured-card-CnK .description-6FR {
  width: 47rem;
  height: 9.7rem;
  position: absolute;
  left: 1.8127rem;
  top: 24.65rem;
  font-size: 1.928rem;
  font-weight: 500;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.5500000119);
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .what-i-give-EEb .auto-group-24aj-UAB .auto-group-bcb9-rTZ .ellipse-2-wWw {
  width: 36.5rem;
  height: 36.5rem;
  position: absolute;
  left: 17.6rem;
  top: 0;
  filter: blur(19.5rem);
  background-color: rgba(234, 120, 157, 0.3000000119);
  border-radius: 18.25rem;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP {
  margin: 27.5rem 0rem 73.2rem 0rem;
  width: 74.2rem;
  height: calc(100% - 100.7rem);
  position: relative;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .ellipse-4-Aeb {
  width: 36.5rem;
  height: 36.5rem;
  position: absolute;
  left: 9.2rem;
  top: 0;
  filter: blur(19.1732rem);
  background-color: rgba(234, 120, 157, 0.349999994);
  border-radius: 18.25rem;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm {
  width: 74.2rem;
  height: 27.5375rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .rectangle-2-cWb {
  margin-bottom: 0.9647rem;
  width: 5.8rem;
  height: 0.6353rem;
  background-color: #ea789d;
  border-radius: 0.3583rem;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .hadline-VKV {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 14.3958rem;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .hadline-VKV .header-group-SkX {
  width: 37.6rem;
  height: 100%;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .hadline-VKV .header-group-SkX .what-we-give-12w {
  margin-bottom: 0.5479rem;
  font-size: 2.2396rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .hadline-VKV .header-group-SkX .better-tech-solutions-iT9 {
  margin-bottom: 0.7479rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .hadline-VKV .header-group-SkX .better-experiences-D91 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej {
  width: 24.0458rem;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-1-7EP {
  margin: 0rem 1.7rem 0.896rem 0rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-1-7EP .mingcute-check-fill-F5h {
  margin-right: 0.8958rem;
  width: 2.15rem;
  height: 2.15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-1-7EP .creativity-and-innovation-mpj {
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-2-JJs {
  margin-bottom: 0.8958rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-2-JJs .mingcute-check-fill-qpb {
  margin-right: 0.8958rem;
  width: 2.15rem;
  height: 2.15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-2-JJs .quality-client-satisfication-MH9 {
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-3-t2B {
  margin-right: 10.2rem;
  width: calc(100% - 10.2rem);
  display: flex;
  align-items: center;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-3-t2B .mingcute-check-fill-QFR {
  margin-right: 0.8958rem;
  width: 2.15rem;
  height: 2.15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .what-i-give-EEb .auto-group-sf9r-TEP .group-8-5Fm .h2-copy-j5R .frame-4-kej .frame-3-t2B .goal-oriented-8x7 {
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK {
  box-sizing: border-box;
  padding-top: 10rem;
  width: 100%;
  height: 81rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ffffff;
  background-color: #14104b;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .rectangle-2-9sD {
  margin: 0rem 0rem 1rem 15rem;
  width: 6.5rem;
  height: 0.5rem;
  background-color: #ea789d;
  border-radius: 0.4rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb {
  margin: 0rem 6.4rem 2.875rem 10.3rem;
  width: calc(100% - 16.7rem);
  height: 52.5rem;
  position: relative;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .ellipse-4-oB5 {
  width: 36.5rem;
  height: 36.5rem;
  position: absolute;
  left: 119.6rem;
  top: 16rem;
  filter: blur(19.1732rem);
  background-color: rgba(234, 120, 157, 0.349999994);
  border-radius: 18.25rem;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .hadline-uzo {
  width: 48.6rem;
  height: 16.8rem;
  position: absolute;
  left: 4.7rem;
  top: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .hadline-uzo .header-group-rQF {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .hadline-uzo .header-group-rQF .my-works-1Y3 {
  margin-bottom: 0.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .hadline-uzo .header-group-rQF .my-recent-projects-J1M {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .hadline-uzo .lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-CMd {
  max-width: 48.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV {
  width: 78.4rem;
  height: 3.575rem;
  position: absolute;
  left: 67.8rem;
  top: 12.9rem;
  display: flex;
  align-items: center;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .ui-ux-MNw {
  margin: 0rem 6.2rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .group-3-Gko {
  width: 12.7rem;
  height: 100%;
  border-radius: 0.4rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .group-3-Gko .website-dev-2jy {
  margin-bottom: 0.475rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .group-3-Gko .rectangle-2-Zzo {
  width: 6.3rem;
  height: 0.5rem;
  background-color: #ea789d;
  border-radius: 0.4rem;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .auto-group-k27z-sVh {
  box-sizing: border-box;
  padding: 0.438rem 0rem 0.538rem 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .auto-group-k27z-sVh .data-analysis-QEj {
  margin-right: 6.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .auto-group-k27z-sVh .graphic-design-k3h {
  margin-right: 6.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .frame-1-GMV .auto-group-k27z-sVh .copywriting-HJX {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 {
  width: 94.2rem;
  height: 25.7rem;
  position: absolute;
  left: 0;
  top: 24.3rem;
  row-gap: 3.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB .icon-dot-circle-rkw {
  margin: 0.5rem 2rem 0rem 0rem;
  width: 2.2rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB .frame-13-x3H {
  box-sizing: border-box;
  padding: 0.4rem 0.5rem 0.5rem 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.5rem #ea789d;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB .frame-13-x3H .wwwsamplelinkcom-5dh {
  margin: 0rem 54.1rem 0.1rem 0rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3268b8;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB .frame-13-x3H .frame-12-brw {
  box-sizing: border-box;
  padding: 0.263rem 2.6rem 0.438rem 4.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #14104b;
  border-radius: 0 0.5rem 0.5rem 0;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB .frame-13-x3H .frame-12-brw .copy-link-Xkb {
  margin-right: 1.1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-9-WSB .frame-13-x3H .frame-12-brw .clarity-copy-line-sJf {
  margin-top: 0.1rem;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH .icon-dot-circle-sCB {
  margin: 0.5rem 2rem 0rem 0rem;
  width: 2.2rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH .frame-13-PRR {
  box-sizing: border-box;
  padding: 0.4rem 0.5rem 0.5rem 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.5rem #ea789d;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH .frame-13-PRR .wwwsamplelinkcom-vw9 {
  margin: 0.1rem 54.1rem 0rem 0rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3268b8;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH .frame-13-PRR .frame-12-q2X {
  box-sizing: border-box;
  padding: 0.363rem 2.6rem 0.338rem 4.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #14104b;
  border-radius: 0 0.5rem 0.5rem 0;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH .frame-13-PRR .frame-12-q2X .copy-link-AqV {
  margin-right: 1.1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-12-iKH .frame-13-PRR .frame-12-q2X .clarity-copy-line-JB1 {
  margin-top: 0.1rem;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q .icon-dot-circle-8fq {
  margin: 0.5rem 2rem 0rem 0rem;
  width: 2.2rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q .frame-13-rbq {
  box-sizing: border-box;
  padding: 0.4rem 0.5rem 0.5rem 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.5rem #ea789d;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q .frame-13-rbq .wwwsamplelinkcom-C9u {
  margin: 0.3rem 54.1rem 0rem 0rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3268b8;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q .frame-13-rbq .frame-12-Veo {
  box-sizing: border-box;
  padding: 0.3rem 2.6rem 0.4rem 4.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #14104b;
  border-radius: 0 0.5rem 0.5rem 0;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q .frame-13-rbq .frame-12-Veo .copy-link-dm1 {
  margin-right: 1.1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-11-z3q .frame-13-rbq .frame-12-Veo .clarity-copy-line-yZy {
  margin-top: 0.025rem;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .icon-dot-circle-bbM {
  margin: 0.5rem 2rem 0rem 0rem;
  width: 2.2rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq {
  box-sizing: border-box;
  padding: 0.4rem 0.5rem 0.5rem 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.5rem #ea789d;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq .wwwsamplelinkcom-Cb9 {
  margin: 0.5rem 54.1rem 0rem 0rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3268b8;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq .frame-12-iJb {
  box-sizing: border-box;
  padding: 0.3rem 2.6rem 0.4rem 4.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #14104b;
  border-radius: 0.5rem 0 0 0.5rem;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq .frame-12-iJb .auto-group-m69m-3bm {
  margin-right: 1.1rem;
  width: 7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq .frame-12-iJb .auto-group-m69m-3bm .copy-link-Bhy {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq .frame-12-iJb .auto-group-m69m-3bm .copy-link-tMV {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .projects-RgK .auto-group-btrq-Ueb .link-list-2G7 .group-10-qcB .frame-13-4jq .frame-12-iJb .clarity-copy-line-ojM {
  margin-top: 0.025rem;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .see-all-button-4QP {
  margin: 0rem 74rem 77.925rem 74rem;
  box-sizing: border-box;
  padding-right: 0.1334rem;
  width: calc(100% - 148rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.website-design .projects-RgK .see-all-button-4QP .see-all-projects-ATR {
  margin: 0rem 4.033rem 0.8rem 0rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .projects-RgK .see-all-button-4QP .maki-arrow-teK {
  margin-bottom: 0.0032rem;
  width: 3.7333rem;
  height: 2.93rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .projects-RgK .ellipse-2-Ru9 {
  width: 36.5rem;
  height: 36.5rem;
  filter: blur(19.5rem);
  background-color: rgba(234, 120, 157, 0.3000000119);
  border-radius: 18.25rem;
  flex-shrink: 0;
}

.about-me {
  padding: 2rem;
  width: 100%;
  height: auto;
  border: solid 0.1rem #ffffff;
  background-color: #14104b;
  color: whitesmoke;
  font-size: 18px;
}

.auto-group {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 567px) {
  .auto-group {
    flex-direction: column;
    gap: 2rem;
  }

  .border {}
}

@media screen and (max-width: 1024px) {
  .auto-group {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {}

.auto-group-1 {
  padding: 2rem;
  width: 100%;
  margin-right: 1rem;
}

.h2-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: start;
}

.border {
  border: 3px solid #ea789d;
  border-radius: 1rem;
  width: 3.2rem;
  margin-bottom: .5rem;
}

.about-us {
  font-weight: 800;
  letter-spacing: .1rem;
  opacity: 0.75;
}

.welcome-to-our-vibrant-community {
  text-align: justify;
  opacity: 0.75;
}

.frame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  font-size: 16px;
  font-weight: 600;
}

.frame .text {
  opacity: .75;
}

.mingcute-check-fill {
  height: clamp(1.5rem, 3vh, 2.25rem);
  width: clamp(1.5rem, 3vh, 2.25rem);
}

.resume-download-cv {
  border: 3px solid #ea789d;
  padding: .75rem;
  border-radius: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 180px;
  display: grid;
  color: #ea789d;
  place-content: center;
}

.auto-group-2 {}

.auto-group-2 img {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: auto;
  width: 100%;
}

.website-design .my-skills-BCj {
  padding: 4.5rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: solid 0.1rem #ffffff;
  background-color: #14104b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width:567px) {
  .website-design .my-skills-BCj {
    flex-direction: column;
  }

  .website-design .my-skills-BCj .skills {
    flex-direction: column;
  }
}

.website-design .my-skills-BCj .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
}

.website-design .my-skills-BCj .auto-group-xd .skill-icons-xd-RMy {
  width: 24rem;
  height: 24rem;
  object-fit: contain;
}

.website-design .my-skills-BCj .auto-group-other-skills {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.website-design .my-skills-BCj .auto-group-other-skills .auto-group-one,
.website-design .my-skills-BCj .auto-group-other-skills .auto-group-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.website-design .my-skills-BCj .logos-javascript-fqy {
  padding: 11.615rem 1.993rem 2.007rem 6.731rem;
  overflow: hidden;
  background-color: #f7df1e;
}

.website-design .my-skills-BCj .logos-javascript-fqy .vector-bDq {
  width: 16.8755rem;
  height: 11.9776rem;
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw {
  width: 60.8rem;
  height: calc(100% - 14.7rem);
  position: relative;
  flex-shrink: 0;
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw .ellipse-4-SET {
  width: 24.3rem;
  height: 18.9rem;
  position: absolute;
  left: 36.5rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw .hadline-arT .header-group-ts9 {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw .hadline-arT .header-group-ts9 .my-skills-cHM {
  margin-bottom: 0.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw .hadline-arT .header-group-ts9 .language-and-tools-XfD {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw .hadline-arT .lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-4f9 {
  max-width: 48.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
}

.website-design .my-skills-BCj .auto-group-rxyy-jaw .rectangle-2-ZM1 {
  width: 6.5rem;
  height: 0.5rem;
  position: absolute;
  left: 0;
  top: 2.6rem;
  background-color: #ea789d;
  border-radius: 0.4rem;
}

.website-design .clients-1io {
  box-sizing: border-box;
  padding-top: 10rem;
  width: 100%;
  height: 82.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ffffff;
  background-color: #14104b;
  flex-shrink: 0;
}

.website-design .clients-1io .auto-group-cyzp-wsM {
  margin: 0rem 23.4rem 90.224rem 15rem;
  width: calc(100% - 38.4rem);
  height: 62.4762rem;
  position: relative;
  flex-shrink: 0;
}

.website-design .clients-1io .auto-group-cyzp-wsM .ellipse-4-2to {
  width: 31.1rem;
  height: 31.1rem;
  position: absolute;
  left: 72.7rem;
  top: 11.7rem;
  filter: blur(16.3366rem);
  background-color: rgba(234, 120, 157, 0.5);
  border-radius: 15.55rem;
}

.website-design .clients-1io .auto-group-cyzp-wsM .header-group-Leb {
  width: 44.1rem;
  height: 10.2rem;
  position: absolute;
  left: 90.3rem;
  top: 1.5rem;
}

.website-design .clients-1io .auto-group-cyzp-wsM .header-group-Leb .trusted-by-clients-4ab {
  margin-bottom: 0.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .clients-1io .auto-group-cyzp-wsM .header-group-Leb .what-my-clients-say-a39 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.website-design .clients-1io .auto-group-cyzp-wsM .rectangle-2-6nB {
  width: 6.5rem;
  height: 0.5rem;
  position: absolute;
  left: 90.3rem;
  top: 0;
  background-color: #ea789d;
  border-radius: 0.4rem;
}

.website-design .clients-1io .auto-group-cyzp-wsM .group-7-dn7 {
  width: 82.7552rem;
  height: 62.4762rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9.6826rem;
}

.website-design .clients-1io .auto-group-cyzp-wsM .group-7-dn7 .frame-7-PFV {
  box-sizing: border-box;
  padding: 4.647rem 3.065rem 4.647rem 3.065rem;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4.8413rem);
  background-color: rgba(255, 255, 255, 0.4499999881);
  border-radius: 9.6826rem;
}

.website-design .clients-1io .auto-group-cyzp-wsM .group-7-dn7 .frame-7-PFV .frame-8-6Qo {
  box-sizing: border-box;
  padding: 4.841rem 4.363rem 6.429rem 4.435rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(4.8413rem);
  background-color: rgba(255, 255, 255, 0.4499999881);
  border-radius: 9.6826rem;
}

.website-design .clients-1io .auto-group-cyzp-wsM .group-7-dn7 .frame-7-PFV .frame-8-6Qo .lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsumlorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsumlorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum--pbh {
  margin: 0rem 0rem 3.911rem 0.028rem;
  max-width: 67.8rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  flex-shrink: 0;
}

.website-design .clients-1io .auto-group-cyzp-wsM .group-7-dn7 .frame-7-PFV .frame-8-6Qo .johnny-adnan-m9Z {
  margin-bottom: 0.8rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .clients-1io .auto-group-cyzp-wsM .group-7-dn7 .frame-7-PFV .frame-8-6Qo .product-manager-tjy {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .clients-1io .auto-group-cyzp-wsM .ph-flow-arrow-fill-wy9 {
  width: 25.7729rem;
  height: 20.5879rem;
  position: absolute;
  left: 83.624rem;
  top: 14.0057rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .clients-1io .ellipse-2-GkX {
  width: 36.5rem;
  height: 36.5rem;
  filter: blur(19.5rem);
  background-color: rgba(234, 120, 157, 0.3000000119);
  border-radius: 18.25rem;
  flex-shrink: 0;
}

.website-design .contact-us-A5D {
  box-sizing: border-box;
  padding-top: 1.9rem;
  width: 100%;
  height: 92rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.35rem #ffffff;
  background-color: #14104b;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT {
  margin: 0rem 16.7rem 74.339rem 10.9rem;
  width: calc(100% - 27.6rem);
  height: 86.4607rem;
  position: relative;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .ellipse-4-BW7 {
  width: 31.1rem;
  height: 31.1rem;
  position: absolute;
  left: 76.8rem;
  top: 19.8rem;
  filter: blur(16.3366rem);
  background-color: rgba(234, 120, 157, 0.5);
  border-radius: 15.55rem;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH {
  width: 48.6rem;
  height: 27.4rem;
  position: absolute;
  left: 96.6rem;
  top: 13.3rem;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .hadline-pBh {
  margin-bottom: 4.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .hadline-pBh .header-group-NU7 {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .hadline-pBh .header-group-NU7 .contact-me-w1R {
  margin-bottom: 0.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .hadline-pBh .header-group-NU7 .drop-a-message-dQ3 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .hadline-pBh .lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-lorem-ipsum-Mqq {
  max-width: 48.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH {
  width: 22.1rem;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH .frame-1-Rqh {
  margin: 0rem 5.6rem 1.1rem 0rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 5.6rem);
  display: flex;
  align-items: center;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH .frame-1-Rqh .ph-phone-fill-9mh {
  margin: 0.022rem 1.234rem 0rem 0rem;
  width: 1.9531rem;
  height: 1.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH .frame-1-Rqh .phone-number-5QT {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH .frame-2-N8f {
  box-sizing: border-box;
  padding-left: 0.2488rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH .frame-2-N8f .dashicons-email-alt-iiK {
  margin: 0.1rem 1.125rem 0rem 0rem;
  width: 2.1262rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .h2-copy-gbH .frame-4-sZH .frame-2-N8f .examplegmailcom-eby {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #8088a5;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .rectangle-2-yu9 {
  width: 6.5rem;
  height: 0.5rem;
  position: absolute;
  left: 96.6rem;
  top: 11.8rem;
  background-color: #ea789d;
  border-radius: 0.4rem;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .effect-WeB {
  width: 9.2rem;
  height: 9.1607rem;
  position: absolute;
  left: 12.9rem;
  top: 77.3rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .polygon-1-DoV {
  width: 14.0951rem;
  height: 10.9781rem;
  position: absolute;
  left: 69.5rem;
  top: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .get-touch-concept-illustration114360-2586-1-xm5 {
  width: 72rem;
  height: 72rem;
  position: absolute;
  left: 4.1rem;
  top: 8.1rem;
  object-fit: cover;
  vertical-align: top;
}

.website-design .contact-us-A5D .auto-group-jxy3-gJT .effect-UDd {
  width: 12.8549rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.website-design .contact-us-A5D .ellipse-2-cqd {
  width: 36.5rem;
  height: 36.5rem;
  filter: blur(19.5rem);
  background-color: rgba(234, 120, 157, 0.3000000119);
  border-radius: 18.25rem;
  flex-shrink: 0;
}

.footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.25rem #ffffff;
  background-color: #1f1a59;
  flex-shrink: 0;
}

.logo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.frame-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;

}

.follow-me {
  white-space: nowrap;
  margin-right: 3rem;
  font-size: 22px;
}

.icon {
  width: 1.5rem;
}

.resume {
  font-size: 19px;
  font-weight: 800;
  line-height: 1.2575;
  color: #ea789d;
  font-family: General Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #ea789d;
  border-radius: 1rem;
  padding: .75rem 1.75rem;
}


@media screen and (max-width: 768px) {

  /* Hide the navigation links and display a menu icon */
  .menu-links {
    display: none;
    /* Hide the navigation links */
  }

  .menu-icon {
    display: block;
    /* Show the menu icon */
  }
}